.paymment {
    .heading_main_title_content {
        .main_title {
            @include maxWidth(768px) {
                margin-top: 1em;
            }
        }
    }
}

.modul01 {
    margin-top: 2em;
    border: 1px solid #E4E4E4;

    .top_header {

        // background: #E4E4E4;

        li {
            display: flex;
            font-weight: 600;
            font-size: px2em(18);
            justify-content: flex-start;
        }
    }

    .list_box_col {
        display: flex;
        flex-grow: 1;
        border-bottom: 1px solid #E4E4E4;

        li {
            padding: 1em;
            float: left;
            width: 25%;
            font-size: px2em(14);
            @include tran_slow_03();
            border-right: 1px solid #E4E4E4;

            @include maxWidth(768px) {
                padding: 0.5em;
                font-size: px2em(14);
            }

            .exten_money {
                display: block;
            }

            .money {
                color: $colMain;
                font-weight: 600;
            }

            &:last-child {
                border-right: none;
            }
        }

        &:after {
            @include clear_fix();
        }
    }

    .content_list_col {
        .list_box_col {
            color: #4B4B4B;

            &:last-child {
                border: none;
            }
        }
    }
}

.modul02 {
    margin-top: 2em;

    .box_list {
        border: 1px solid #E4E4E4;
        padding: 1em;

        li {
            font-size: px2em(18);
            margin-bottom: 1em;

            span {
                font-size: px2em(14);
                width: 100px;
                float: left;
            }

            &:after {
                @include clear_fix();
            }
        }
    }
}

.modul03 {
    border: 1px solid #E4E4E4;
    padding: 1em;
    margin-top: 2em;

    .box_form_group {
        display: flex;
        flex-direction: row;

        @include maxWidth(768px) {
            flex-direction: column;
        }

        .form_control {
            padding-top: 1em;
            padding-bottom: 1em;
            flex-grow: 1;
            flex-basis: 0;
            display: flex;
            align-items: center;
            padding-right: 2em;


            .control_full {
                border: 1px solid #E4E4E4;
                padding: 1em;
                font-size: px2em(14);
                width: 100%;
                max-width: 100%;
                outline: none;
            }

            .heading {
                flex: 0 0 20%;
                font-size: px2em(18);
                font-weight: bold;

                @include maxWidth(768px) {
                    font-size: px2em(16);
                }

                @include maxWidth(480px) {
                    font-size: px2em(14);
                }
            }

            .control_input {
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                align-items: center;

                .label_control_A {
                    margin-left: 0.5em;
                    margin-right: 0.5em;
                    font-size: px2em(18);
                }

                .control_css {
                    border: 1px solid #E4E4E4;
                    padding: 1em;
                    font-size: px2em(14);
                    width: 100%;
                    max-width: 100%;
                    outline: none;
                }

            }
        }

        @include maxWidth(480px) {
            flex-direction: column;

            .form_control {
                padding-right: 0;

                .control_full {}
            }
        }
    }
}

.form_raceheck {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    margin-right: 2em;

    * {
        font-size: px2em(16);
        color: #4B4B4B;
        @include tran_slow_03();
    }

    &:last-child {
        margin-right: 0;
    }

    .input_action {
        height: 100%;
        cursor: pointer;
        align-items: center;
        position: relative;
        margin-right: 50px;
        margin-bottom: 0;
        display: none;

        &:checked {
            ~.checkmark_action {
                border: 2px solid $colMain;

                &::after {
                    opacity: 1;
                }

                &:before {
                    visibility: visible;
                }
            }
        }
    }

    .checkmark_action {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border: 2px solid #999;
        @include borderRadius(50%);
        margin: 0;

        //@include tran_slow_03();
        &:after {
            position: absolute;
            content: '';
            height: 40px;
            width: 40px;
            left: calc(50% - 20px);
            top: calc(50% - 20px);
            margin: auto;
            background: #0099ff17;
            z-index: -1;
            opacity: 0;
            pointer-events: none;
            @include borderRadius(50%);
            @include tran_slow_05();
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70%;
            height: 70%;
            background: $colMain;
            visibility: hidden;
            @include borderRadius(50%);
            -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
            -moz-transform: translate3d(-50%, -50%, 0);
            -ms-transform: translate3d(-50%, -50%, 0);
            -o-transform: translate3d(-50%, -50%, 0);
        }
    }

    label.label_action {
        margin-bottom: 0;
        cursor: pointer;
        padding-left: 0.5em;
    }

}

.modul04 {
    margin-top: 2em;

    .main_grid {
        border: 1px solid #E4E4E4;

        .box_grid {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 10px;
            border-bottom: 1px solid #E4E4E4;

            @include maxWidth(480px) {
                grid-column-gap: 5px;
            }

            * {
                font-size: px2em(16);
            }

            &:last-child {
                border-bottom: none;
            }
        }

        .grid_heading {
            background: #E4E4E4;
            font-weight: 600;
            font-size: px2em(18);

            @include maxWidth(480px) {
                font-size: px2em(12);
            }

            .area {
                padding-left: 1em;
            }

            .areaA {
                grid-template-rows: 1/3;
            }
        }

        .box_grid {

            .area {
                padding: 1em;

                @include maxWidth(480px) {
                    padding: 1em 0.5em;
                    // font-size: px2em(12);
                }

                .form_in {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    input {
                        max-width: 100%;
                        width: 100px;
                        outline: none;
                        padding: 0.5em;
                        border: 1px solid #E4E4E4;

                        @include maxWidth(480px) {
                            width: 40px;
                            padding: 0.2em;
                        }
                    }
                }

                .total {
                    color: $colMain;
                    font-weight: 600;
                }
            }
        }
    }
}

.modul05 {

    .control_input {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2em;

        @include maxWidth(375px) {
            flex-direction: column;

            .form_raceheck {
                margin-bottom: 1em;
            }
        }

        .form_raceheck {
            margin-right: 6em;
            margin-bottom: 0.5em;

            @include maxWidth(768px) {
                margin-right: 4em;
            }

            @include maxWidth(480px) {
                margin-right: 2em;
            }

        }
    }
}

.modul06 {
    margin-top: 2em;

    .control_input {
        display: flex;
        flex-direction: column;

        .form_raceheck {
            margin-bottom: 1em;

            .input_action_o {
                display: none;

                &:checked {
                    ~.checkmark_action_o {
                        &:before {
                            background-image: url('../images/icon/check_active.png');
                        }
                    }
                }
            }

            .checkmark_action_o {
                position: relative;
                display: flex;
                flex-direction: row;
                cursor: pointer;
                margin-right: 0.5em;

                &:before {
                    content: '';
                    background-image: url('../images/icon/check_unactive.png');
                    background-repeat: no-repeat;
                    background-size: 100%;
                    width: 30px;
                    height: 30px;
                }
            }

            .label_action_o {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }
}

.modul07 {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;

    .control_action {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .control_btn {
            padding: 1em 4em;
            margin-right: 1em;
            border: none;
            outline: none;
            font-size: px2em(18);
            cursor: pointer;
            @include tran_slow_03();

            &:last-child {
                margin-right: 0;
            }
        }

        .gray {
            background: #E4E4E4;
            color: #4B4B4B;

            @include hofo() {
                background: $col02H;
                color: #fff;
            }
        }

        .grenn {
            background: $col03;
            color: #fff;

            @include hofo() {
                background: $col03H;
            }
        }

        @include maxWidth(768px) {
            .control_btn {
                flex-grow: 1;
                padding: 0.5em 0;
            }
        }
    }
}

.reservation_paymment {
    margin-top: 2em;
    margin-bottom: 2em;

    .main_list_reser_payment {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, minmax(50px, 1fr));
        grid-gap: 10px;
        @include tran_slow_03();

        @include maxWidth(375px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .item_reservartion_pamment {
            border: 1px solid #E4E4E4;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            padding: 2em 0;
            @include tran_slow_03();

            @include hofo() {
                border: 1px solid $colMain;
            }

            a {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                outline: none;
                align-items: center;

                .item_thumb {
                    max-width: 100%;
                }

                .name_top {
                    color: $col02;
                    font-size: px2em(18);
                }

                .name_bot {
                    color: $colMain;
                    font-size: px2em(30);
                }

                @include hofo() {
                    ~.item_reservartion_pamment {
                        border: 1px solid $colMain;
                    }
                }
            }
        }
    }
}

.heading_main_title {
    font-size: px2em(18);
    font-weight: 600;
    margin-bottom: 1em;
    color: $col02;
    @include tran_slow_03();
    display: block;

    @include maxWidth(1024px) {
        display: none;
    }

    a {
        text-decoration: none;
        outline: none;
        font-size: px2em(20);
        font-weight: 600;
        color: $col02;
        @include tran_slow_03();
    }

    @include maxWidth(375px) {
        font-size: px2em(16);

        a {
            font-size: px2em(16);
        }
    }
}

.box_list_ticked_tabs {
    display: flex;
    flex-direction: column;

    .tabs_ticked {
        display: flex;
        flex-direction: row;
        height: 50px;
        align-items: center;
        margin-bottom: 1em;

        .item_tabs_ticked {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            background: #F7F8F3;

            label {
                cursor: pointer;
                font-size: px2em(18);
                display: flex;
                align-items: center;
                padding: 1em 0;
                @include tran_slow_03();
                position: relative;

                .aler_a {
                    margin-left: 0.4em;
                    padding: 0.2em 1em;
                    @include borderRadius(10px);
                    background: $colMain;
                    color: #fff;
                    font-size: px2em(12);
                    @include tran_slow_03();
                }

                &:after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    left: 0;
                    right: 100%;
                    bottom: 0;
                    background: $colMain;
                    @include tran_slow_03();
                }

                @include hofo() {
                    &:after {
                        right: 0;
                    }
                }
            }

            &:first-child {
                display: flex;
                justify-content: flex-end;
            }

            &:last-child {
                display: flex;
                justify-content: flex-start;
            }

            @include maxWidth(375px) {
                label {
                    font-size: px2em(14);
                }
            }
        }

        .item_tabs_ticked.active {
            label {
                &:after {
                    right: 0;
                }
            }
        }
    }
}

.box_item_list_ticker {
    .item_list_a {
        display: none;
    }

    .item_list_a.activetabs {
        display: flex;
    }
}

.item_list_a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .box_item {
        flex-basis: 50%;
        flex: 0 0 50%;
        padding: 1em 0;
        @include tran_slow_03();

        // border-bottom: 1px solid $col04;
        @include maxWidth(980px) {
            flex: 0 0 100%;
            border-bottom: 1px solid $col04;
        }

        .thumnail {
            float: left;
            width: 33.333333%;
            margin-right: 15px;
            overflow: hidden;
            position: relative;
            @include tran_slow_03();

            a {
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                padding-bottom: 92%;
                @include tran_slow_03();

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }

            @include maxWidth(375px) {
                width: 100%;
                margin-bottom: 1em;

                a {
                    padding-bottom: 60%;
                }
            }
        }

        .content {
            padding-right: 1em;

            @include maxWidth(375px) {
                padding-right: 0;
            }

            .top01 {
                color: $col03;
                font-size: px2em(14);
                margin-bottom: 0.5em;
            }

            .top02 {
                margin-bottom: 0.5em;

                a {
                    color: #000;
                    font-size: px2em(24);
                    text-decoration: none;
                    outline: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    @include tran_slow_03();

                    span {
                        margin-left: 1em;
                        background: #78BCC4;
                        padding: 0.1em 0.3em;
                        font-size: px2em(8);
                        color: #fff;
                        position: relative;

                        &:after {
                            content: '';
                            display: flex;
                            justify-content: center;
                            position: absolute;
                            top: 5px;
                            left: -12px;
                            width: 0;
                            height: 0;
                            border: 6px solid transparent;
                            border-top-color: #78BCC4;
                            @include xoay(90deg);
                        }
                    }

                    @include hofo() {
                        color: $col03;
                    }
                }

                @include maxWidth(480px) {
                    a {
                        font-size: px2em(18);
                    }
                }

            }

            .list_infomation {
                margin-bottom: 1em;

                * {
                    color: #8D8D8D;
                    font-size: px2em(14);
                }


                .list {
                    margin-top: 1em;
                    color: #000;

                    .money {
                        font-size: px2em(30);
                        color: $colMain;

                        @include maxWidth(480px) {
                            font-size: px2em(24);
                        }
                    }
                }
            }

            .list_control {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 10px;

                .btn_control {
                    padding: 0.5em 1em;
                    text-decoration: none;
                    outline: none;
                    border: 1px solid #E4E4E4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #333;
                    @include tran_slow_03();

                    @include hofo() {
                        background: #E4E4E4;
                        color: #fff;
                    }
                }
            }
        }

        &:after {
            @include clear_fix();
        }
    }
}

.action_control_tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;

    a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        outline: none;
        padding: 1em 2em;
        background: $col03;
        color: #fff;
        @include tran_slow_03();

        @include hofo() {
            background: $col03H();
        }
    }

    @include maxWidth(480px) {
        flex-direction: column;

        a {
            flex-grow: 1;
        }
    }
}

.list_regis_ticked {
    .regis_ticked {
        display: flex;
        flex-direction: column;
        margin-top: 3em;

        .item_regis_ticked {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1em 0;
            border-bottom: 1px solid #e4e4e4;

            &:first-child {
                border-top: 1px solid #e4e4e4;
            }

            .item_a {
                font-size: px2em(18);
                font-weight: 600;
                @include tran_slow_03();

                @include maxWidth(1024px) {
                    font-size: px2em(16);
                }

                @include maxWidth(1024px) {
                    font-size: px2em(14);
                }
            }

            .item_b {
                a {
                    text-decoration: none;
                    outline: none;
                    color: $col03;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-weight: 600;
                    font-size: px2em(18);
                    @include tran_slow_03();

                    &:after {
                        content: '';
                        background-image: url('../images/icon/icon_gogo.png');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        width: 36px;
                        height: 10px;
                        margin-left: 5px;
                    }
                }

                @include hofo() {
                    color: $col03H;
                }
            }

            @include maxWidth(375px) {
                flex-direction: column;

                .item_a {
                    margin-bottom: 1em;
                }

                .item_b {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}

.col_action_top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .btn_action {
        padding: 0.8em 1.5em;
        margin-right: 1em;
        text-decoration: none;
        outline: none;
        font-size: px2em(16);
        @include tran_slow_03();

        @include maxWidth(768px) {
            font-size: px2em(14);
        }

        &:last-child {
            margin-right: 0em;
        }
    }

    .btn_action01 {
        border: 1px solid #E4E4E4;
        color: #000;

        @include hofo() {
            background: #E4E4E4;
        }
    }

    .btn_action02 {
        background: #707070;
        color: #fff;

        @include hofo() {
            background: #333;
        }
    }
}

span.label_noti {
    margin-left: 1em;
    background: #78BCC4;
    padding: 0.1em 0.3em;
    font-size: px2em(8);
    color: #fff;
    position: relative;

    &:after {
        content: '';
        display: flex;
        justify-content: center;
        position: absolute;
        top: 5px;
        left: -12px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-top-color: #78BCC4;
        @include xoay(90deg);
    }
}

.payment01 {
    .modul00 {
        .grid_heading {
            .area {
                color: #888;
                padding: 0.5em 1em;
            }
        }
    }

    .heading_main_title {
        margin-top: 2em;
    }
}

.module_select {
    display: flex;
    flex-direction: column;
    margin-top: 2em;

    .control_selectbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .control_select {
            width: 100%;
            height: 50px;
            border: 1px solid #E4E4E4;
            padding: 0 1em;
            color: #4B4B4B;
            font-size: px2em(16);
            outline: none;

            option {
                &:checked {
                    display: none;
                }
            }
        }

        .control_select_span {
            width: 50px;
            height: 50px;
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid #e4e4e4;
            border-left: none;
            pointer-events: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #fff;
            @include tran_slow_03();

            .item_span {
                width: 16px;
                height: 3px;
                background: #333;
                margin-bottom: 8px;
                cursor: pointer;
                @include tran_slow_03();

                &:first-child {
                    @include xoay(45deg);
                }

                &:last-child {
                    margin-bottom: 0;
                    @include xoay(-45deg);
                }
            }
        }

        @include hofo() {
            .control_select_span {
                .item_span {
                    &:first-child {
                        margin-left: 0px;
                        margin-bottom: -3px;
                    }

                    &:last-child {
                        margin-bottom: 0px;
                        margin-left: 19px;
                    }
                }
            }
        }
    }
}

.control_input_textarea {
    display: flex;
    flex-direction: column;
    margin-top: 2em;

    .control_bo {
        outline: none;
        width: 100%;
        padding: 1em;
        border: 1px solid #e4e4e4;
        font-size: px2em(16);
        @include tran_slow_03();

        @include maxWidth(768px) {
            font-size: px2em(14);
        }
    }
}

.control_action {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .control_btn {
        padding: 1em 4em;
        margin-right: 1em;
        border: none;
        outline: none;
        font-size: px2em(18);
        cursor: pointer;
        @include tran_slow_03();

        &:last-child {
            margin-right: 0;
        }
    }

    .gray {
        background: #E4E4E4;
        color: #4B4B4B;

        @include hofo() {
            background: $col02H;
            color: #fff;
        }
    }

    .grenn {
        background: $col03;
        color: #fff;

        @include hofo() {
            background: $col03H;
        }
    }

    @include maxWidth(768px) {
        .control_btn {
            flex-grow: 1;
            padding: 0.5em 0;
        }
    }
}

.box_review {
    display: flex;
    flex-direction: column;

    .item_review {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;

        @include maxWidth(768px) {
            flex-direction: column;
        }

        .side_item {
            font-size: px2em(18);

            @include maxWidth(768px) {
                font-size: px2em(16);
            }

            @include maxWidth(480px) {
                font-size: px2em(14);
            }
        }

        .side_left {
            flex: 0 0 15%;
            font-weight: bold;
        }

        .side_right {
            display: flex;
            align-items: center;
            flex-grow: 1;

            @include maxWidth(768px) {
                margin-top: 0.5em;
            }

            textarea {
                border: 1px solid #e4e4e4;
                padding: 0.5em;
                outline: none;
                font-weight: normal;
                width: 100%;
                font-size: px2em(18);
                color: #4B4B4B;

                @include maxWidth(768px) {
                    font-size: px2em(16);
                }

                @include maxWidth(480px) {
                    font-size: px2em(14);
                }
            }
        }
    }
}

.surg_box {
    margin-left: 0.5em;
    width: 26px;
    height: 26px;
    background: #78BCC4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    @include borderRadius(50%);

    .tooltiptexxt {
        visibility: hidden;
        min-width: 200px;
        max-width: 300px;
        background-color: #555;
        color: #fff;
        font-size: px2em(10);
        padding: 0.5em;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -20%;
        opacity: 0;
        @include borderRadius(6px);
        @include tranOpacity(opacity, 0.3s);
        @include tran_slow_03();

        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 10%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
            @include tran_slow_03();
        }
    }

    @include hofo() {
        .tooltiptexxt {
            visibility: visible;
            opacity: 1;
        }
    }

    @include maxWidth(480px) {
        .tooltiptexxt {
            left: auto;
            right: 0;

            &:after {
                left: 95%;
            }
        }
    }
}

.top_main_point {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: px2em(30);

    .title_point {
        font-weight: 600;
    }
}

.content_main_point {
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    margin-top: 2em;
    @include tran_slow_03();

    .list_main_point {
        display: grid;
        grid-template-columns: 100px 1fr 1fr 300px;
        @include tran_slow_03();

        @include maxWidth(1024px) {
            grid-template-columns: 50px 1fr 1fr 150px;
        }

        @include maxWidth(768px) {
            grid-template-columns: 50px 1fr 80px 1fr;
        }


        @include maxWidth(320px) {
            grid-template-columns: 30px 1fr 40px 1fr;
        }

        .item {
            padding: 1em 0.5em;
            @include tran_slow_03();
            font-size: px2em(16);

            @include maxWidth(480px) {
                font-size: px2em(14);
            }
        }

    }

    .list_main_point.heading {
        background: #e4e4e4;
    }
}

.list_suge_tion {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 2em;
    margin-bottom: 2em;

    .item_list {
        display: flex;
        flex-direction: row;

        li {
            padding-left: 1em;
            display: flex;
            flex-direction: row;
            color: $col08;
            @include tran_slow_03();

            &::after {
                display: block;
                content: '';
                height: 100%;
                width: 1px;
                background: #ccc;
                margin-left: 1em;

            }

            a {
                text-decoration: none;
                outline: none;
                color: $col08;
                @include tran_slow_03();
            }

            &:last-child {
                padding-right: 0;

                &::after {
                    content: none;
                }
            }

            @include hofo() {
                color: $colMainH;

                a {
                    color: $colMainH;
                }
            }
        }
    }
}

.box_item_list_ticker {
    .item_list_a {
        .box_item {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: 10px;

            .thumnail {
                grid-column: 4 span;
                float: none;
                width: 100%;
                padding-right: 10px;

                a {
                    text-decoration: none;
                    outline: none;
                    display: block;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .content {
                grid-column: 8 span;
            }

            @include maxWidth(375px) {

                .thumnail,
                .content {
                    grid-column: 12 span;
                }
            }
        }
    }
}

.conent_tickit_pay_2 {
    display: flex;
    flex-direction: column;
    margin-top: 2em;

    .box_option {
        margin-bottom: 2em;

        &:last-child {
            margin-bottom: 2em;
        }

        .tabel_hes {
            .item_hes {
                &.heading {
                    background: #c4c4c4;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    padding: 0 1em;
                }
            }

            .box_list_item_hes {
                display: flex;
                flex-direction: column;

                .item_list_hes {
                    display: flex;
                    flex-direction: row;
                    padding: 1em;
                    background: #f9f9f9;
                    border-bottom: 1px solid #e4e4e4;

                    &:last-child {
                        border-bottom: none;
                    }

                    .box_controlA {
                        width: calc(100% - 100px);
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        @include maxWidth(480px) {
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: space-between;
                        }

                        .item_left {
                            display: flex;
                            flex-direction: row;

                            .form_raceheck {
                                margin-bottom: 1em;

                                .input_action_o {
                                    display: none;

                                    &:checked {
                                        ~.checkmark_action_o {
                                            &:before {
                                                background-image: url('../images/icon/check_active.png');
                                            }
                                        }
                                    }
                                }

                                .checkmark_action_o {
                                    position: relative;
                                    display: flex;
                                    flex-direction: row;
                                    cursor: pointer;
                                    margin-right: 0.5em;

                                    &:before {
                                        content: '';
                                        background-image: url('../images/icon/check_unactive.png');
                                        background-repeat: no-repeat;
                                        background-size: 100%;
                                        width: 24px;
                                        height: 24px;
                                    }
                                }

                                .label_action_o {
                                    cursor: pointer;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                }
                            }
                        }
                    }

                    .box_controlB {
                        width: 100px;
                        padding-left: 1em;

                        input {
                            max-width: 100%;
                            border: none;
                            background: #fff;
                            min-height: 40px;
                            outline: none;
                            padding: 0 10px;
                        }
                    }
                }
            }

            .control_sum {
                .controm_sum_box {
                    margin-top: 1em;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;

                    .money_sum {
                        font-size: px2em(16);
                        font-weight: 600;
                    }

                    .sl_sum {
                        margin-left: 4em;
                        font-size: px2em(16);
                    }
                }
            }
        }
    }

    .sum_pay {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #e4e4e4;
        color: $col01;
        padding: 1em 0;
        text-align: right;
        font-weight: 600;
    }
}

.agree_pay {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1em;
}