.col_red {
    color: $colMain;
}

.box_rg_member {
    .box_heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1em;
        align-items: center;

        .btn_top_control_form {
            display: flex;

            a {
                text-decoration: none;
                outline: none;
                background: #4B4B4B;
                color: #fff;
                padding: 1em 2em;
                @include tran_slow_03();

                @include hofo() {
                    background: #333;
                }

                @include maxWidth(768px) {
                    padding: 0.5em 1em;
                }
            }
        }
    }

    .box_body_member {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .item_form {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 1.5em;


            &:last-child {
                margin-bottom: 0;
            }

            .left_box_form {
                flex: 0 0 150px;
                margin-top: 10px;
                font-size: px2em(16);
                @include tran_slow_03();

                @include maxWidth(480px) {
                    font-size: px2em(14);
                }

                @include maxWidth(420px) {
                    flex: 0 0 100%;
                    margin-bottom: 0.5em;
                }
            }

            .right_box_form {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 1em;
                @include tran_slow_03();

                @include maxWidth(768px) {
                    margin-right: 0;
                }

                .box_control_top {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 10px;
                }

                .box_control_bot {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .noti {
                        color: $col08;
                    }
                }
            }

            .right_box_form {
                .box_plus {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    margin-left: 0.5em;
                    cursor: pointer;
                }

                .form_group {
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    @include tran_slow_03();
                    margin-right: 1em;

                    select {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        text-indent: 1px;
                        text-overflow: '';

                        &::-ms-expand {
                            display: none;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    .form_control {
                        border: 1px solid #e4e4e4;
                        height: 44px;
                        outline: none;
                        padding: 0 1em;
                        width: 100%;
                        @include tran_slow_03();
                    }

                    .select_icon {
                        position: absolute;
                        pointer-events: none;
                        right: 5px;
                        top: 0;
                        width: 20px;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        &:after {
                            display: flex;
                            content: '';
                            height: 100%;
                            width: 100%;
                            background-image: url('../images/icon/icon_next_001.png');
                            background-repeat: no-repeat;
                            background-size: 18px auto;
                            background-position: center;
                        }
                    }
                }

                .form_group.col100 {
                    width: 100%;
                }

                .form_group.col50 {
                    width: 50%;

                    @include maxWidth(420px) {
                        width: 100%;
                    }
                }

                .form_group.col33 {
                    width: 33.3333333%;

                    @include maxWidth(768px) {
                        width: 50%;
                    }

                    @include maxWidth(420px) {
                        width: 100%;
                    }
                }
            }

            @include maxWidth(420px) {
                flex-direction: column;

                .left_box_form,
                .right_box_form {
                    width: 100%;
                    flex: none;
                }

                .right_box_form {
                    margin: 0;
                }
            }
        }

        .item_form.col100 {
            flex: 0 0 100%;
        }

        .item_form.col50 {
            flex: 0 0 50%;

            @include maxWidth(768px) {
                flex: 0 0 100%;
            }
        }

        .item_form.col33 {
            flex: 0 0 33.3333333%;

            @include maxWidth(980px) {
                flex: 0 0 50%;
            }

            @include maxWidth(768px) {
                flex: 0 0 100%;
            }
        }
    }
}

.bold_ob {
    font-weight: 600;
}

.main_content {
    &.find_password {
        .find_password {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .title_main {
                margin-bottom: 1em;
                font-size: px2em(18);
                font-weight: 600;
            }

            .form_box {
                width: 100%;
                max-width: 400px;
                height: 44px;
                border: 1px solid #E4E4E4;
                display: flex;
                flex-direction: row;

                .bulet_left {
                    width: 40px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    &:after {
                        content: '';
                        height: 22px;
                        width: 22px;
                        background-image: url(../images/icon/bullet_letter.png);
                    }
                }

                input {
                    padding: 0 1em;
                    width: 100%;
                    border: none;
                    outline: none;
                }
            }

            .btn_form {
                margin-top: 2em;
                display: flex;
                justify-content: center;

                .btn {
                    outline: none;
                    border: none;
                    cursor: pointer;
                }

                .btn_find {
                    height: 50px;
                    padding: 0 2em;
                    background: $col03;
                    color: #fff;
                    font-size: px2em(16);
                    @include tran_slow_03();
                }
            }
        }
    }
}

.find_password {
    .box_reset_pass {
        display: flex;
        flex-direction: column;

        @include maxWidth(480px) {
            width: 100%;
        }

        .fomr_pass {
            display: flex;
            flex-direction: row;
            position: relative;
            align-items: center;
            margin-bottom: 1em;
            @include tran_slow_03();

            @include maxWidth(480px) {
                flex-direction: column;
                align-items: flex-start;
            }

            .label_pass {
                min-width: 100px;
                color: #4B4B4B;

                @include maxWidth(480px) {
                    margin-bottom: 0.5em;
                }
            }

            .input_pass {
                width: 340px;
                display: flex;
                flex-direction: column;
                @include tran_slow_03();

                @include maxWidth(480px) {
                    width: 100%;
                }

                input {
                    outline: none;
                    width: 100%;
                    max-width: 100%;
                    height: 40px;
                    border: 1px solid #E4E4E4;
                    padding: 0 1em;
                }

                .validate {
                    display: none;
                }
            }


        }
    }
}

.add_avatar {
    display: flex;
    flex-direction: row;

    .name_file {
        border: 1px solid #ccc;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 0.5em;
        color: #909090;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 120px);
    }

    .sty_avatar_choose {
        width: 120px;
        background: $col03;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .chang_avata {
        display: none;
    }
}

.box_change_avatar {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 0.5em;

    .thumb_avatar {
        display: block;
        width: 80px;
        height: 80px;
        overflow: hidden;
        @include borderRadius(50%);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .add_avatar {
        &.change_avatars {
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 0.5em;

            .sty_avatar_choose {
                margin-bottom: 0.5em;
            }

            .name_file {
                width: 100%;
                border: 1px solid #ccc;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 0.5em;
                color: #909090;
                overflow: hidden;
                height: 40px;
                text-overflow: ellipsis;
            }
        }
    }
}