<footer class="mb_dev main_footer">
    <div class="footer_top">
        <div class="info_box_footer">
            <ul class="menu_footer">
                <li><a href="detail.html">회사소개</a></li>
                <li><a href="detail.html">개인정보처리방침</a></li>
                <li><a href="detail.html">이용약관</a></li>
                <li><a href="detail.html">예매가이드</a></li>
                <li><a href="detail.html">공연등록문의</a></li>
            </ul>
            <ul class="info_bot">
                <li>(주)고투어여행사</li>
                <li>서울시 중구 태평로2가 69-15 502</li>
                <li>사업자등록번호 104-86-43305</li>
                <li>통신판매업신고 서울중구 제0003호</li>
                <li>고객센터: 02-777-0442</li>
            </ul>
        </div>
        <div class="box_social">
            <ul>
                <li class="fb"><a href="detail.html">facebook</a></li>
                <li class="tw"><a href="detail.html">twicter</a></li>
                <li class="bulet"><a href="detail.html">bullet</a></li>
                <li class="line"><a href="detail.html">line</a></li>
                <!-- <li class="naver"><a href="detail.html">naver</a></li>
                    <li class="instagram"><a href="detail.html">instagram</a></li>
                    <li class="youtube"><a href="detail.html">youtube</a></li>
                    <li class="kakao"><a href="detail.html">kakao</a></li> -->
            </ul>
        </div>
    </div>
    <div class="footer_bot">
        <div>©2020 Gotourticket.com</div>
    </div>

</footer><!-- main_footer -->
<!-- jQuery -->
<script src="public/js/jquery.min.js"></script>
<script src="public/js/slick.js"></script>
<script src="https://swiperjs.com/package/js/swiper.min.js"></script>
<script src="public/js/mquery.js"></script>
<script src="public/js/uiMain.js"></script>
<!-- Initialize Swiper -->

</body>

</html>